<%# app/views/survey_mailer/_email_header.html.erb %>
<header class="survey-header">
  <div class="logo-container">
    <span class="header-logo-container">
      <svg
        width="8.2800417mm"
        height="5.5363626mm"
        viewBox="0 0 8.2800417 5.5363626"
        version="1.1"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
        <defs
          id="defs1" /><g
          id="layer1"
          transform="translate(-112.31492,-92.533745)"><g
            transform="matrix(0.00534618,0,0,0.00506025,113.84779,97.838539)"><g><path
                d="m 360,-160 c -57.09064,-1.33286 -63.23104,-66.31397 -81.95243,-106.98408 C 256.03171,-324.65606 234.01586,-382.32803 212,-440 c -166.240423,0 -332.48085,0 -498.72127,0 0,-26.66667 0,-53.33333 0,-80 184.90709,0 369.81418,0 554.72127,0 30.66667,81.33333 61.33333,162.66667 92,244 62.92831,-164.26127 123.75925,-329.43422 188,-493.125 26.30936,-51.84572 105.47593,-31.85741 113.46367,22.43744 C 690.30911,-671.12504 719.15456,-595.56252 748,-520 c 171.35187,0 342.7037,0 514.0556,0 0,26.66667 0,53.33333 0,80 -190.0185,0 -380.03707,0 -570.0556,0 -30.66667,-81.33333 -61.33333,-162.66667 -92,-244 -62.92831,164.26127 -123.75925,329.43422 -188,493.125 -10.52812,18.24676 -30.56006,31.37863 -52,30.875 z"
                id="path5-3" /><path
                id="path6-0"
                d="m 98.947849,-1048.2743 c -117.930347,-0.051 -236.412139,30.0665 -338.381919,89.64522 -16.50475,35.50463 -5.19354,77.68099 -8.53254,116.24232 0,99.22583 0,198.45165 0,297.67748 18.46045,-5.63599 60.68685,12.49397 60.79944,-11.48988 0,-120.48691 0,-240.97381 0,-361.46072 201.714549,-100.61292 455.38147,-85.31752 642.50221,40.95103 0,93.27169 0,186.54339 0,279.81508 19.84118,-54.8386 43.32182,-109.00972 60.8961,-164.26408 0,-38.517 0,-77.034 0,-115.551 187.04526,-126.27455 440.75728,-141.59135 642.40556,-40.95103 0,124.31687 0,248.63373 0,372.9506 18.5031,-5.62556 60.7342,12.47685 60.8961,-11.48988 -0.6722,-129.14083 1.3486,-258.4275 -1.0179,-387.47657 -32.892,-47.13339 -103.724,-56.40297 -155.1862,-77.85737 -193.6739,-56.9363 -410.53249,-21.6164 -577.44895,91.51642 C 371.53772,-1005.623 236.45957,-1049.1264 98.947849,-1048.2743 Z M 1219.5328,-415.32034 c -18.5031,5.62556 -60.7342,-12.47685 -60.8961,11.48988 0,102.88784 0,205.77567 0,308.663507 -134.9236,-54.918717 -285.19417,-80.661177 -428.54944,-45.217457 -75.79114,16.45109 -145.47147,51.157622 -213.85612,86.576985 0,-113.219585 0,-226.439165 0,-339.658745 -19.84118,54.8386 -43.32182,109.00972 -60.8961,164.26408 0,58.46489 0,116.92978 0,175.394665 C 337.63414,-119.05732 205.4768,-164.98877 69.136818,-155.88428 c -88.833843,2.27211 -173.902758,29.69648 -256.303988,60.717327 0,-106.717797 0,-213.435587 0,-320.153387 -18.46045,5.63599 -60.68685,-12.49397 -60.79944,11.48988 0.34392,125.08051 -0.68907,250.19559 0.51855,375.254417 32.19223,58.689261 90.59991,-17.86609 135.16389,-23.047986 198.128888,-81.661031 432.84989,-34.325591 598.16396,97.385837 165.1707,-131.875223 399.93561,-178.979458 597.98771,-97.360703 42.9239,7.312614 119.0837,88.474899 135.6653,12.701324 0,-125.474259 0,-250.948509 0,-376.422769 z" /></g></g></g>
      </svg>
    </span>
    <span class="app-name">Pastoral Pulse Check</span>
  </div>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Funnel+Display:wght@300..800&family=Poiret+One&display=swap');

:root {
	--main-color: #160C28;
	--secondary-color: #E9B872;
	--background-color: #EEEEFF;
	--fill-color-1: #7F7CAF;
	--fill-color-2: #C5D2DD;
	/*--fill-color-2: #9FB4C7;*/

	--font-stiff: 'Poiret One', sans-serif;
	--font-happy: 'Dongle', sans-serif;
	--font-tech: 'Funnel Display', sans-serif;

}

* {
	font-family: var(--font-happy);
	color: var(--main-color);
}

body {
	margin: 0px;
	background-color: var(--background-color);
}

ol {
	list-style-type: none;
}

fieldset {
	border: 0 none;
}

input[type="radio"] {
	transform: scale(1.5);
	/* Increases the size by 50% */
	/* For older browser compatibility */
	-ms-transform: scale(1.5);
	/* IE 9 */
	-webkit-transform: scale(1.5);
	/* Chrome, Safari, Opera */
}

.inputs legend span {
	font-size: 2.5rem;
}

.inputs ol,
.actions ol {
	padding: 0px;
}


.label label {
	font-size: 2rem;
}

.label label abbr {
	display: none;
}

.choices .choices-group {
	padding: 0px 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.question-selection-group {
	border: 0px var(--secondary-color) solid;
	background-color: var(--fill-color-2);
	border-radius: 2rem;
	padding: 1rem;
	margin: 2rem;
	box-shadow: 0px 4px 8px rgba(127, 124, 175, 0.8);
}

.under-radio {
	padding: 0px 3rem;
	/*width: 100%;*/
	display: flex;
	justify-content: space-between;
}

.under-radio div {
	font-size: 1.5rem;
	color: var(--fill-color-1);
}

.button_action {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button_action button {
	font-size: 4rem;
	padding: 1rem;
	border-radius: 1rem;
}

.survey-header {
	background-color: var(--main-color);
}

.logo-container a {
	display: flex;
	text-decoration: none;
	align-items: center;
}

.app-name {
	color: var(--background-color);
	font-family: var(--font-stiff);
	font-size: 3rem;
	font-weight: bold;

}

.header-logo-container svg {
	padding: 15px 25px;
	width: auto;
	height: 3rem;
}

.header-logo-container path {
	fill: var(--background-color);
}

  </style>
</header>
