/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Funnel+Display:wght@300..800&family=Poiret+One&display=swap');

:root {
	--main-color: #160C28;
	--secondary-color: #E9B872;
	--background-color: #EEEEFF;
	--fill-color-1: #7F7CAF;
	--fill-color-2: #C5D2DD;
	/*--fill-color-2: #9FB4C7;*/

	--font-stiff: 'Poiret One', sans-serif;
	--font-happy: 'Dongle', sans-serif;
	--font-tech: 'Funnel Display', sans-serif;

}

* {
	font-family: var(--font-happy);
	color: var(--main-color);
}

body {
	margin: 0px;
	background-color: var(--background-color);
}

ol {
	list-style-type: none;
}

fieldset {
	border: 0 none;
}

input[type="radio"] {
	transform: scale(1.5);
	/* Increases the size by 50% */
	/* For older browser compatibility */
	-ms-transform: scale(1.5);
	/* IE 9 */
	-webkit-transform: scale(1.5);
	/* Chrome, Safari, Opera */
}

.inputs legend span {
	font-size: 2.5rem;
}

.inputs ol,
.actions ol {
	padding: 0px;
}


.label label {
	font-size: 2rem;
}

.label label abbr {
	display: none;
}

.choices .choices-group {
	padding: 0px 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.question-selection-group {
	border: 0px var(--secondary-color) solid;
	background-color: var(--fill-color-2);
	border-radius: 2rem;
	padding: 1rem;
	margin: 2rem;
	box-shadow: 0px 4px 8px rgba(127, 124, 175, 0.8);
}

.under-radio {
	padding: 0px 3rem;
	/*width: 100%;*/
	display: flex;
	justify-content: space-between;
}

.under-radio div {
	font-size: 1.5rem;
	color: var(--fill-color-1);
}

.button_action {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button_action button {
	font-size: 4rem;
	padding: 1rem;
	border-radius: 1rem;
}

.survey-header {
	background-color: var(--main-color);
}

.logo-container a {
	display: flex;
	text-decoration: none;
	align-items: center;
}

.app-name {
	color: var(--background-color);
	font-family: var(--font-stiff);
	font-size: 3rem;
	font-weight: bold;

}

.header-logo-container svg {
	padding: 15px 25px;
	width: auto;
	height: 3rem;
}

.header-logo-container path {
	fill: var(--background-color);
}
